:root {
    --font-size: 24px;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Navigation {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    gap: 750px;
    background-color: rgba(153, 218, 223, 0.425);
}

.Dropdown {
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    display: flex;
    cursor: pointer;

    P {
        display: none
    }
}

.content {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.content:hover {
    background-color: aqua;
    text-decoration: none;
}


.Dropdown:hover {
    background-color: rgba(240, 248, 255, 0.438);

    P {
        display: block;
    }


}

.border {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: aliceblue;
}

form {
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: xx-large;
}

Fees {
    border: 2px solid black;
    font-size: var(--font-size);
    padding: 5px;
    background-color: aliceblue;
    border-radius: 20px;
}

input {
    border: 2px solid black;
    font-size: 50px;
    padding: 5px;
    height: 70px;
    border-radius: 20px;

}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: xx-large;

}

body {
    height: 100%;
    background: linear-gradient(to bottom, #00FFD1, #00FF66, #66ffe6);
}

.button {
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    color: black;
    width: 200px;
    margin-bottom: 20px;
    font-size: xx-large;
}